body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

.para {
  font-size: 16px;
  padding: 20px;
  width: 70%;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html::-webkit-scrollbar {
  width: 50px;
}

html::-webkit-scrollbar-track {
  background-color: orange;
}

html::-webkit-scrollbar-thumb {
  background-color: white;
  /* background: #4e4e4e; */
  background-image: url("soccer-ball.jpg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  border-radius: 25px;
  /* box-shadow: 0px 0px 0px 100vh black; */
}

html::-webkit-scrollbar-thumb:hover {
  background: navy;
  border-radius: 25px;
}

html::-webkit-scrollbar-thumb:active {
  background: darkred;
  border-radius: 25px;
}
